.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-card {
    width: 500px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
