<div class="main">
  <nav class="navigation">
    <h1>
      <p id="rcorners1">My</p>
      <span>Flix</span>
    </h1>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon mat-list-icon color="primary">home</mat-icon>
        <div mat-line>Home</div>
      </a>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon mat-list-icon color="accent">favorite</mat-icon>
        <div mat-line>Favorites</div>
      </a>
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon mat-list-icon color="primary">visibility</mat-icon>
        <div mat-line>Watchlist</div>
      </a>
   </mat-nav-list>
  </nav>
  
  <div class="content">
  <router-outlet></router-outlet>
</div>
</div>